.hotbar {
  width: 100%;
  background-image: url("../arquivos/fundoHotBar.jpg");
  background-size: cover;
  background-position: center;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  box-shadow: 0 6px 16px -4px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.hotbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.hotbar-logo {
  display: flex;
  align-items: center;
}

.hotbar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.logo-text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.hotbar-links {
  display: flex;
  gap: 20px;
}

.hot-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.hot-link:hover {
  color: #9c795d;
}